<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  	<a href='/' class="col-md-2 logo">DELVE</a>
  	<div class="pull-right logo-right">Let's learn about music together</div>
  </div>
  <br>
</nav>
<div class="orangeBar"></div>
<div class="blueBar"></div>

