<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- Set viewport to evice width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>Genre Search</title>
	</head>
	<body>
		{{> header}}
		<div class="orangeBar pull-right" id="barHalf"></div><br><br>
		<div class="blueBar pull-right" id="barLess"></div><br><br>
		<div class="orangeBar pull-right" id="barEvenLess"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 genre">SHOE GAZE</div>
			</div>
			<div class="blueBar"></div>
			<div class="orangeBar"></div>
			<div class="row">
				<h1 class="col-md-10">Dazzle your friends with this colorful description of <strong>SHOE GAZE</strong></h1>
			</div>
			<div class="row">
				<p class="col-md-12 descr">
					<strong>Shoegaze</strong> is a subgenre of alternative rock that emerged from the United Kingdom
					in the late 1980s and reached peak popularity in the early 1990s. The term "shoegazing" was initially devised by the British music press as a gibe meant to ridicule the stage presence of a wave of groups who stood still during live performances in a detached, introspective, non-confrontational state, often with their heads down.
				</p>
			</div>
			<hr>
		</div>
		
		<!-- jQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<!-- Handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
		<!-- Custom script -->
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>