<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- Set viewport to device width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>Welcome</title>
	</head>
	<body>
	{{> header}}
	<div class="orangeBar pull-left" id="barHalf"></div><br><br>
		<div class="blueBar pull-left" id="barLess"></div><br><br>
		<div class="orangeBar pull-left" id="barEvenLess"></div>
	<div class="container">
		<div class=" col-md-9 col-centered">
			<div class="wtf">What the fuck is</div>
			<form class="col-md-2 col-md-offset-3 genreTextQ" id="search">
					<input type="text" id="genre-text" autofocus><br>
			</form>
			<div class="col-md-1 wtf">?</div>
			<div id="append">
				<script id="result-template" type='text/x-handlebars-template'>
					{{#each genres}}
						{{name}}, {{description}}
					{{/each}}
				</script>
			</div>
		</div>
		</div>

		<div id="footer">{{>footer}}</div>
		<!-- jQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<!-- Handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
		<!-- Custom script -->
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>